.buttonGrid {
  button {
    font-weight: bold;
    margin: 0.5rem;
  }
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
